<plugin name='gskeleton-two' version='1.0' grailsVersion='1.2.0 &gt; *'>
  <author>Hussachai Puripunpinyo</author>
  <authorEmail>hussachai@gmail.com</authorEmail>
  <title>GSkeleton2</title>
  <description>\
		GSkeleton2
	</description>
  <documentation>http://grails.org/plugin/gskeleton</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>DefaultAdminMenus</resource>
    <resource>DefaultGSkeletonConfig</resource>
    <resource>DefaultWebPerformanceConfig</resource>
    <resource>GSkeletonBootStrap</resource>
    <resource>GSkeletonUrlMappings</resource>
    <resource>SecurityFilters</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>com.siberhus.gskeleton.SystemController</resource>
    <resource>com.siberhus.gskeleton.base.AdminMenuController</resource>
    <resource>com.siberhus.gskeleton.base.AuthController</resource>
    <resource>com.siberhus.gskeleton.base.Ipv4FilterController</resource>
    <resource>com.siberhus.gskeleton.base.LoginFailureLogController</resource>
    <resource>com.siberhus.gskeleton.base.LoginLogController</resource>
    <resource>com.siberhus.gskeleton.base.MessageController</resource>
    <resource>com.siberhus.gskeleton.base.PermissionController</resource>
    <resource>com.siberhus.gskeleton.base.PersonalProfileController</resource>
    <resource>com.siberhus.gskeleton.base.RoleController</resource>
    <resource>com.siberhus.gskeleton.base.UserController</resource>
    <resource>com.siberhus.gskeleton.cfg.CustomConfigController</resource>
    <resource>com.siberhus.gskeleton.cfg.SystemConfigController</resource>
    <resource>com.siberhus.gskeleton.cfg.UserConfigController</resource>
    <resource>com.siberhus.gskeleton.cfg.log4j.Log4jAppenderController</resource>
    <resource>com.siberhus.gskeleton.cfg.log4j.Log4jConfigController</resource>
    <resource>com.siberhus.gskeleton.dashboard.DashboardController</resource>
    <resource>com.siberhus.gskeleton.dashboard.WidgetController</resource>
    <resource>com.siberhus.gskeleton.dashboard.widget.MemoryInfoWidgetController</resource>
    <resource>com.siberhus.gskeleton.doc.FaqCategoryController</resource>
    <resource>com.siberhus.gskeleton.doc.FaqController</resource>
    <resource>com.siberhus.gskeleton.job.JobGroupController</resource>
    <resource>com.siberhus.gskeleton.job.JobLogController</resource>
    <resource>com.siberhus.gskeleton.job.JobSchedulerController</resource>
    <resource>com.siberhus.gskeleton.job.ServiceExecutionLogController</resource>
    <resource>com.siberhus.gskeleton.job.ServiceExecutorController</resource>
    <resource>com.siberhus.gskeleton.resource.DbConnProfileController</resource>
    <resource>com.siberhus.gskeleton.sfm.DirectoryNodeController</resource>
    <resource>com.siberhus.gskeleton.sfm.FileOpLogController</resource>
    <resource>com.siberhus.gskeleton.sfm.FileRecycleBinController</resource>
    <resource>com.siberhus.gskeleton.sfm.SimpleFileManagerController</resource>
    <resource>foo.bar.BreedTypeController</resource>
    <resource>foo.bar.TestController</resource>
    <resource>com.siberhus.gskeleton.Auditable</resource>
    <resource>com.siberhus.gskeleton.Timestampable</resource>
    <resource>com.siberhus.gskeleton.base.AdminMenu</resource>
    <resource>com.siberhus.gskeleton.base.Ipv4Filter</resource>
    <resource>com.siberhus.gskeleton.base.LoginFailure</resource>
    <resource>com.siberhus.gskeleton.base.LoginFailureLog</resource>
    <resource>com.siberhus.gskeleton.base.LoginLog</resource>
    <resource>com.siberhus.gskeleton.base.Message</resource>
    <resource>com.siberhus.gskeleton.base.Role</resource>
    <resource>com.siberhus.gskeleton.base.User</resource>
    <resource>com.siberhus.gskeleton.cfg.SystemConfig</resource>
    <resource>com.siberhus.gskeleton.cfg.UserConfig</resource>
    <resource>com.siberhus.gskeleton.cfg.log4j.Log4jAppender</resource>
    <resource>com.siberhus.gskeleton.cfg.log4j.Log4jConfig</resource>
    <resource>com.siberhus.gskeleton.dashboard.Widget</resource>
    <resource>com.siberhus.gskeleton.doc.Faq</resource>
    <resource>com.siberhus.gskeleton.doc.FaqCategory</resource>
    <resource>com.siberhus.gskeleton.job.Job</resource>
    <resource>com.siberhus.gskeleton.job.JobGroup</resource>
    <resource>com.siberhus.gskeleton.job.JobLog</resource>
    <resource>com.siberhus.gskeleton.job.ServiceExecutionLog</resource>
    <resource>com.siberhus.gskeleton.job.ServiceExecutor</resource>
    <resource>com.siberhus.gskeleton.job.ServiceParameter</resource>
    <resource>com.siberhus.gskeleton.resource.DbConnProfile</resource>
    <resource>com.siberhus.gskeleton.sfm.DirectoryNode</resource>
    <resource>com.siberhus.gskeleton.sfm.FileOpLog</resource>
    <resource>com.siberhus.gskeleton.sfm.FileRecycleBin</resource>
    <resource>com.siberhus.mazzmailer.MailingListGroup</resource>
    <resource>com.siberhus.mazzmailer.MailingListSource</resource>
    <resource>foo.bar.BreedType</resource>
    <resource>ShiroDbRealm</resource>
    <resource>com.siberhus.gskeleton.service.FooService</resource>
    <resource>com.siberhus.gskeleton.service.JobManagerService</resource>
    <resource>com.siberhus.gskeleton.service.ServiceExecutionLogService</resource>
    <resource>com.siberhus.gskeleton.service.SimpleFileManagerService</resource>
    <resource>com.siberhus.gskeleton.service.UserConfigService</resource>
    <resource>EastwoodChartTagLib</resource>
    <resource>GoogleChartTagLib</resource>
    <resource>com.siberhus.gskeleton.taglib.GSkeletonTagLib</resource>
    <resource>com.siberhus.gskeleton.taglib.WebPerformanceTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='hibernate' version='1.2 &gt; *' />
    <plugin name='shiro' version='1.1.1' />
    <plugin name='fckeditor' version='0.9.4 &gt; *' />
    <plugin name='mail' version='0.9' />
  </dependencies>
  <behavior />
</plugin>